{% extends "main_page/base.html" %}
{% load  staticfiles %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/color_changer.css' %}">
{% endblock css_block %}

{% block title_block %}
  InfoExtracT
{% endblock title_block %}

{% block header_block %}
  <div class="container header-block">
    <h1 class="loader">#urdujaph</h1>
  </div>
{% endblock header_block %}

{% block main_block %}
  <!--container1-->
  <div class="container main-block">

    <h6>Categories</h6>
    <!--categories1-->
    <div class="categories">
      <!--row-->
      <div class="row">

        <!--col-1-->
        <div class="col col-lg-3 d-flex justify-content-center">
          <a href="#">
            <div style="text-align:center">
              <div id="cd" class="circle CA" style="border: 40px solid #F7474A">--</div>
              Casualty & Damage (CD)
            </div>
          </a>
        </div>
        <!--col-1-->

        <!--col-2-->
        <div class="col col-lg-3 d-flex justify-content-center">
          <a href="#">
            <div style="text-align:center">
              <div id="ca" class="circle CA" style="border: 40px solid #FFB55E">--</div>
              Caution & Advice (CA)
            </div>
          </a>
        </div>
        <!--col-2-->

        <!--col-3-->
        <div class="col col-lg-3 d-flex justify-content-center">
          <a href="#">
            <div style="text-align:center">
              <div id="donation" class="circle donation" style="border: 40px solid #48BEBE">--</div>
              Donation
            </div>
          </a>
        </div>
        <!--col-3-->

        <!--col-4-->
        <div class="col col-lg-3 d-flex justify-content-center">
          <a href="#">
            <div style="text-align:center">
              <div id="other" class="circle other" style="border: 40px solid #4F535F">--</div>
              Other
            </div>
          </a>
        </div>
        <!--col-4-->

      </div>
      <!--row-->

    </div>
    <!--categories1-->

  </div>
  <!--container1-->

  <!--container2-->
  <div class="container">
    <h6>Statistics</h6>

    <!--categories2-->
    <div class="categories">
      
      <!--row1-->
      <div class="row" style="margin-bottom:10px;">
        <!--col-1-->
        <div class="col-lg-12 d-flex justify-content-center">
          <div id="bar-id" style="width:80%">
            <canvas id="barchart" height="400" width="800"></canvas>
          </div>
          <div id="line-id" style="width:80%; display:none;">
            <canvas id="linechart" height="400" width="800"></canvas>
          </div>
          <div id="radar-id" style="width:80%; display:none;">
            <canvas id="radarchart" height="400" width="800"></canvas>
          </div>
        </div>
        <!--col-1-->
      </div>
      <!--row1-->

      <!--row2-->
      <div class="row" style="padding-top: 5px;">
        <!--col-2-->
        <div class="col-lg-12 d-flex justify-content-center">
          <form>
            <label class="radio-inline">
              <input class="rad" type="radio" name="optradio" id="bar" checked>Bar graph
            </label>
            <label class="radio-inline">
              <input class="rad" type="radio" name="optradio" id="line">Line graph
            </label>
            <label class="radio-inline">
              <input class="rad" type="radio" name="optradio" id="radar">Radar graph
            </label>
          </form>
        </div>
         <!--col-2-->
      </div>
      <!--row2-->
    </div>
    <!--categories2-->

  </div>
  <!--container2-->

  <!--container3-->
  <div class="container">
    <h6>Classify</h6>
    <!--custom-style-->
    <div style="padding:20px 20px 30px 20px" class="categories">
      <!-- row-main-->
      <div class="row">
        <!--col-1-item-->
        <div class="col-md-6">
          <form id="form_classify" class="ajax-classify" method="POST" data-url="{{ request.build_absolute_uri|safe }}">
            {% csrf_token %}
            {{ form.as_p|safe }}
            <input id="btnsubmit" class="btn btn-primary" type="submit" value="Classify">
          </form>
          <!--lbl-category-->
          <div style="margin-top: 30px; ">
            <h2 id="lblcategory" style="text-align:center"h>--</h2>
          </div>
          <!--lbl-category-->
        </div>
        <!--col-1-item-->

        <!--col-2-item-->
        <div class="col-md-6">

          <!--col-2-row-->
          <div class="row">
            <!--col2-row-col1-->
            <div class="col-lg-6 d-flex justify-content-center doughnut">
              <div style="width:100%">
                <canvas id="doughnut" width="200" height="180"></canvas>
              </div>
            </div>
            <!--col2-row-col1-->

            <!--col2-row-col2-->
            <div class="col-lg-6 d-flex justify-content-center">
              <ul class="legend">
                <h6> Statistics </h6>
                <li>
                  <em id="feature">Features</em>
                  <span id="feature-val">--</span>
                </li>
                <li>
                  <em id="accuracy">Accuracy</em>
                  <span id="accuracy-val">--</span>
                </li>
                <li>
                  <em id="probability">Probability</em>
                  <span id="probability-val">--</span>
                </li>
              </ul>
            </div>
            <!--col2-row-col2-->
          </div>
          <!--col-2-row-->
        </div>
        <!--col-2-item-->
      </div>
      <!-- row-main-->
    </div>
    <!--custom-style-->
  </div>
  <!--container3-->

{% endblock main_block %}

{% block sub-footer_block %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center">
        <img src="{% static 'img/brand-white.png' %}" height="59px" width="250px" alt="site logo">
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <h2>LINKS TO SETTINGS</h2>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <h3>LINKS TO RESOURCES</h3>
      </div>
    </div>    
  </div>
        
{% endblock sub-footer_block %}
